.widthtable1{width: 4%;}
.widthtable2{width: 4%;}
.widthtable3{width: 7%;}
.widthtable4{width: 20%;}
.widthtable5{width: 11%;}
.widthtable6{width: 13%;}
.widthtable7{width: 25%;}
.widthtable8{width: 13%;}		
